<mat-toolbar color="primary">
  <h3  [style.color]= "'white'">INFAST 2</h3>
  <span class="example-space"></span>
  <span [style.color]= "'white'"[hidden]="!loggedIn" ><a mat-button> INFAST P1 </a></span>
  <span [style.color]= "'white'"[hidden]="!loggedIn" ><a mat-button> INFAST P2 </a></span>
  <span [style.color]= "'white'"[hidden]="!loggedIn" ><a mat-button> INFAST P3 </a></span>
</mat-toolbar>



<mat-card class="">
  <button mat-raised-button color="accent" (click)="toggleDisplay()">Togle</button>
</mat-card>

<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)"> <!-- validaciones-->
    <div class="form-container">
      <div class="row columns">
        <h1> Formulario Reactivo </h1>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}}</h1>
      <p> {{ description }} </p>
    </div>
  </div>
</ng-template>
